$phone: 200px;
$tablet: 700px;
$deskTop:1020px;
$deskTopLarge:1440px;
:root{
    --text-color:white;
    --black-color:black;
}
#about {
    padding-top: 70px;
    color: var(--text-color);
    border: 2px solid rgb(126, 98, 98);
    background-image: url(../assets/textback/background.png);
    position: relative;
}
.wraped{
    font-size: 20px;
    background-color: var(--black-color);
    border: 2px solid var(--text-color);
    padding: 10px;
    box-shadow: 2px 2px 2px var(--text-color);
}
.moving{
    text-align: center;
}
 .profile-pic{
     height: 45vh;
     border: 2px solid;
    box-shadow: 2px 2px 2px var(--text-color);
 }
 .imagePlace{
    margin: auto;
    width: 100px;
    @media (min-width:$phone) {
        width: 200px;
    }
    @media (min-width:$tablet) {
        width: 250px;
    }
 }

