#about {
    padding-top: 70px;
    color: white;
    border: 2px solid rgb(126, 98, 98);
    background-image: url(../assets/textback/background.png);
    width: 100vw;
    height: 100vh;
    /* flex-direction: row; */
    position: relative;
}
.wraped{
    /* flex-direction: column; */
    /* max-width: fit-content; */
    /* width: 105%; */
    font-size: 20px;
    background-color: black;
    border: 2px solid rgb(240, 239, 239);
    padding: 10px;
}
.moving{
    text-align: center;
}
 .profile-pic{
     /* width: 50%; */
     height: 45vh;
     /* right: 20%; */
     /* position: absolute; */
     border: 2px solid;
    /* float: right; */
    /* display: none; */
    
    
 }
.aboutLink{
  flex-direction: column;
  position: relative;
  /* top: -0px;
  left: -10%; */
 
  border: 2px solid ;
  width: 50%;
  text-align: center;
  height: 30vh;
  background-size: cover;
  background-image: url(../assets/cover/redGeo.jpg);
  background-repeat:no-repeat;
  /* background-size:78vh; */
  
}
.aboutList{
    padding: 15px;
    position: relative;
    top: 70px;
    text-shadow: 5px 10px 5px black ;
    text-transform: uppercase;
    border-right: 1px solid white;
    
}
.explore{
   text-shadow: 5px 5px 5px black;
}

.aboutHover a::before,
.aboutHover a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    color: black;
}

.aboutHover a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #000000;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
  }
  .aboutHover a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #000000;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%);
    
    
  }
  .aboutHover a:hover:before,
  .aboutHover a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .aboutHover a:hover {
    color: #ffffff;
    font-family: cursive;
  }

h1{
    color: white;
}

.carousel{
    width: 24%;
  
    position: absolute;
    top: 50%;
    right: 7%;
}
.carouselItem img{
    width: 100%;
}

@media (min-width:281px){
#about{
    /* width: 102vw; */
    height: 220vh;
}
.aboutLink{
    display: none;
}
.profile-pic{
    margin-left: 25px;
}
}
@media (min-width:320px){
    #about{
        /* width: 100%; */
        height: 200vh;
    }
    .aboutLink{
        display: none;
    }
}
@media (min-width:360px){
    #about{
        height: 170vh;
    }
}
@media (min-width:375px) {
    #about{
        height: 170vh;
    }
    .aboutLink{
        display: none;
    }
}

@media(min-width:390px){
    #about{
        height: 140vh;
    }
}
@media (min-width:425px){
    #about{
        height: 160vh;
    }
    .aboutLink{
        display: none;
    }
}
@media(min-width:540px){
    #about{
     height: 140vh;
    }
}
@media(min-height:667px){
    .aboutLink{
        margin-top: -30%;
    }
}
@media(min-width:740px){
#about{
    height: 220vh;
}
.profile-pic{
    margin-left: 40%;
}
}
@media (min-width:768px){
    #about{
        height: 130vh;
    }
    .aboutLink{
        display: block;
        margin-left: 47%;
        margin-top: -38%;
        position: relative;
        width: 50%;

    }
    .aboutList{
        font-size: 13px;
    }
    .profile-pic{
        margin-left: 10%;
    }
}

@media(min-width:844px){
    #about{
        height: 200vh;
    }
    .profile-pic{
        margin-left: 10%;
    }
    .aboutLink{
        margin-top: -20%;
        margin-left: 21%;
        width: 60vw;
    }
    .aboutList{
        top: 10px;
    }
}
@media (min-width:912px){
    .aboutLink{
width: 19%;
    }
    .aboutList{
        flex-direction: column;
        padding: 0%;
        border: 0px;
        font-size: 17px;
    }
    #about{
        height: 90vh;
    }
    .profile-pic{
        margin-left: 10%;
    }
}
@media(min-width:1059px){
    .aboutLink{
    margin-left: 31%;
    }
}

@media(min-height:1024px){
    .aboutLink{
        margin-top: -50%;
        width: 40vw;
        margin-right: -3%;
    }
    .aboutList{
        font-size: 15px;
        padding: 10px;
    }
}
@media(min-width:1024px){
    #about{
        height: 120vh;
    }
    .aboutLink{
        margin-top: -25%;
        width: 50%;
        margin-left: 40%;
    }
    .aboutList{
        padding: 2%;
    position: relative;
    top: 70px;
    text-shadow: 5px 10px 5px black ;
    text-transform: uppercase;
    border-right: 1px solid white;
    font-size: 15px;
    }
}
@media(min-height:1180px){
    .aboutLink{
        width: 30%;
    }
    .aboutList{
        font-size: 30px;
        border: none;
    }
    .profile-pic{
        margin-left: 8%;
    }
}
@media(min-width:1228px){
    .aboutLink{
        margin-left: 31%;
    }
}
@media(min-width:1280px){
    #about{
        height: 100vh;
    }
}
@media(min-height:1368px){
    .profile-pic{
        width: 40vw;
        height: 40vh;
        margin-left: 12%;
    }
    .aboutLink{
        margin-right: -23%;
    }
}
@media(min-width:1440px){
    .aboutLink{
        margin-top: -20%;
        margin-left: 30%;
    }
    .profile-pic{
        margin-left: 10%;
    }
    /* #about{
        height: 80vh;
    } */
}
@media(min-width:1630px){
    .profile-pic{
        margin-left: 13%;
    }
    .aboutLink{
        margin-right: 9%;
    }
}
@media(min-width:1764px){
    .aboutLink{
        margin-left: 40%;
        /* height: 20vh; */
        width: 80vh;
    }
    .profile-pic{
        margin-left: 15%;
    }
}
@media(min-width:1850px){
    .aboutLink{
        width: 40vw;
        height: 30vh;
        margin-left: 31%;
    }
    .profile-pic{
        margin-left: 20%;
    }
    .aboutList{
        font-size: 19px;
    }

}
/* @media screen and (min-width: 360px) {
   .profile-pic{
       height: 34vh;
       right: 4%;
      
   }

  #about{
      height: 170vh;
      width: 100%;
  }
}

 @media screen and (max-width: 750px) {
    #about{
        height: 111vh;
        width: 111%;
    }
    .wraped {
        font-size: 20px;
          
        width: 109.5%;
    }
   
    .profile-pic {
        position: relative;
       float: right;
      
     right: -11%;
       
    }
    .moving{
        width: 90%;
        margin-left: 0px;
    }
 
}
@media screen and (min-width: 821px) {
    #about{
        height: 6%;
    }
}
@media screen and (max-width: 821px) {

.profile-pic{
    float: right;
}
.aboutLink{
    padding: 10px;
    display: none;
   
}


}
@media screen and (min-width: 1024px) {
   #about{
       height: 100vh;
       
   }
   .profile-pic{
       float: right;
       right: 43px;
   }
   .aboutList{
       top: 20px;
       padding: 15px;
      
       justify-content: space-between;
       position: relative;
       
   }
   .aboutLink{
       width: 55%;
      
   }
  
}
@media screen and (min-width: 912px) {
.aboutLink{
    
    float: left;
    
}
.aboutList{
    font-size: 25px;
}

}

@media screen and (min-width: 1280px) {
    .aboutLink{
        width: 40%;
       
    }
}
@media (max-height: 396px) {
    .aboutLink{
        display: none;
    }
    .profile-pic{
        width: 17%;
        height: 50vh;
        right: 10%;
    }
    #about{
        height: 200vh;
    }
}
@media screen and (max-height: 360px) {
    .profile-pic{
        right: 22%;
    }
    #about{
        height: 210vh;
    }
}
@media screen and (min-width: 1380px) {
    .profile-pic{
        right: 10%;
    }
    #about{
        height: 100vh;
    }
}
@media screen and (min-width: 1690px) {
    .profile-pic{
        right: 18%;
    }
} */
/* @media screen and (max-width: 1712px) {
    .profile-pic{
        right: 17%;
    }
} */
/* @media screen and (min-width: 1711px) {
    .profile-pic{
        right: 13%;
    }
} */