#about {
    padding-top: 70px;
    color: white;
    border: 2px solid rgb(126, 98, 98);
    background-image: url(../assets/textback/background.png);
    width: 100%;
    height: 100vh;
    /* flex-direction: row; */
    position: relative;
}
.wraped{
    /* flex-direction: column; */
    /* max-width: fit-content; */
    /* width: 105%; */
    font-size: 20px;
    background-color: black;
    border: 2px solid rgb(240, 239, 239);
    padding: 10px;
}
/* .moving{
    width: 100%;
} */
 .profile-pic{
     /* width: 50%; */
     height: 45vh;
     right: 20%;
     position: absolute;
     border: 2px solid;
    float: right;
    
 }
.aboutLink{
  flex-direction: column;
  position: relative;
  top: -0px;
  right: -12%;
  display: inline-block;
  border: 2px solid ;
  width: 35%;
  text-align: center;
  height: 30vh;
  /* justify-content: center; */
  margin: auto;
  background-image: url(../assets/cover/GeoMet.jpg);
  background-repeat: none;
  background-size:78vh;
}
.aboutList{
    padding: 10px;
    position: relative;
    top: 70px;
    text-shadow: 5px 10px black ;
    text-transform: uppercase;
    border-right: 1px solid white;
}
h1{
    color: white;
}

@media screen and (min-width: 360px) {
   .profile-pic{
       height: 34vh;
   }
}
 @media screen and (max-width: 750px) {
    #about{
        height: 178vh;
        width: 111%;
    }
    .wraped {
        font-size: 20px;
        /* max-width:max-content; */
        
        width: 109.5%;
    }
   
    .profile-pic {
        position: relative;
       float: right;
        /* margin-right: 5%; */
        /* width: 40%; */
        /* height: 2vh; */
     /* order: 2;
     flex-direction: column; */
     right: -11%;
        /* max-width: max-content; */
    }
    .moving{
        width: 90%;
        margin-left: 0px;
    }
    .aboutLink{
        display: none;
    }
}
@media screen and (max-width: 821px) {
#about{
    /* height: 4%; */
    /* max-height: 100vh; */
    
}
.profile-pic{
    float: right;
}

}
@media screen and (max-width: 1024px) {
   #about{
       height: 150vh;
   }
   .profile-pic{
       float: right;
       right: 43px;
   }
   .aboutList{
       top: 20px;
       padding: 15px;
       /* height: 2vh; */
       /* text-align: justify; */
       justify-content: space-between;
       position: relative;
   }
   .aboutLink{
       width: 55%;
   }
  
}
@media screen and (max-width: 912px) {
.aboutLink{
    margin-top: 50vh;
    float: left;
}
.aboutList{
    font-size: 25px;
}

}

@media screen and (min-width: 1280px) {
    .aboutLink{
        width: 50%;
        left: 6%;
    }
}