.backgroundNav{
    background-color: black;
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 1;
    
}
.navbar {
  position: fixed;
  z-index: 1;
  width: 100vw;
  /* background-color: black; */
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(249, 194, 194, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link.nav-link:hover{
  color: white;
  font-display:unset;
}
.navbar-nav .dropdown-menu {
  /* position: static; */
  background-color: black;
  box-shadow: 2px 2px 2px black;

}
.navbar-light .navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 100, 100, 100.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
  border: 1px white solid;
  border-radius: 2px 8px;
}


.dropdown-menu {
  /* background-color: black; */
  border: 2px solid ;
}
a.dropdown-item{
  color: white;
}
a.dropdown-item:hover{
  background-color: black;
}
a.dropdown-item::after{
  /* background-color: black; */
  color: white;
}
#basic-nav-dropdown{
  color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  /* color: rgba(0,0,0,.7); */
  color: white;
}
.nav a {
    padding: .5em .8em;
    color: rgba(255, 255, 255, 0.986);
    position: relative;
    text-decoration: none;
    /* background-color: rgba(10, 6, 6, 0.5); */
    text-align: right;
  }

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    /* color: white; */
    /* color: black; */
    /* background-color: black; */
}
.nav-link:focus, .nav-link:hover{
  /* color: white; */
  font-family:cursive;
  /* background-color: #18ec5b; */
}
.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
    /* color: white; */
    /* background-color: black; */
  }
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%);
    /* color: white; */
    
  }
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
    /* color: white; */
  }
  
  .nav a:hover {
    color: #18ec5b;
    /* background-color: black; */
  }
  /* @media screen and (max-width: 960px) {
    .backgroundNav{
    height: 5.5vh;
      left: -5px;
      width: 102%;
      position: relative;
  }
  .stat{
    right: 26px;
    top: 4px;
  }
  } */
  @media(min-width:320px){
    /* .backgroundNav{
      width: 92%;
    } */
    .dropdown{
      /* left: -20px; */
    }
  }
  @media screen and (min-height: 360px) {
    .backgroundNav{
      height: 6%;
    }
  }
  @media screen and (min-width: 1024px) {
    .backgroundNav{
    height: 6vh;

    }
  }
  @media screen and (min-width: 1280px) {
    .backgroundNav{
      height: 5vh;
    }
  }
 
    