.backgroundNav{
    background-color: black;
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 1;
    
}
.stat {
  position: fixed;
  right: -1px;
  /* z-index: 1; */
  color: #18ec5b;
}
#dropdown-button-drop-down{
  background-color: rgba(218, 12, 12, 0.5);
  border: none;
}
#primary.dropdown-toggle:focus {
  box-shadow: black;
}
.dropdown-menu {
  background-color: black;
  border: 2px solid ;
}

.dropdown-item{
  color: white;
}

.nav a {
    padding: .5em .8em;
    color: rgba(255, 255, 255, 0.986);
    position: relative;
    text-decoration: none;
    /* background-color: rgba(10, 6, 6, 0.5); */
    text-align: right;
  }

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    color: black;
    /* background-color: black; */
}
.nav-link:focus, .nav-link:hover{
  color: white;
  font-family:cursive;
}
.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
    /* background-color: black; */
  }
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%);
    
    
  }
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: #18ec5b;
    background-color: black;
  }
  @media screen and (max-width: 960px) {
    .backgroundNav{
    height: 5.5vh;
      left: -5px;
      width: 102%;
      position: relative;
  }
  .stat{
    /* right: 26px; */
    top: 4px;
  }
  }
  @media screen and (min-width: 1024px) {
    .backgroundNav{
    height: 7vh;

    }
  }
  @media screen and (min-width: 1280px) {
    .backgroundNav{
      height: 5vh;
    }
  }
    