
.spacing:hover {
    background: #ffffff;
}
 .spacing {
     transform: rotateX(20deg);
     margin: 10px;
     
}
 .spacing:hover{
transition: all 0.65s;
transform: rotateY(20deg);
 }
 .spacing:hover p{
   text-shadow: 1px 1px 1px black;
 }
       