
.spacing:hover {
    background: #ffffff;
}
        .spacing {
            transform: rotateX(20deg);
        }
        .spacing:hover{
            transition: all 0.65s;
            transform: rotateY(20deg);
        }
       