
.spacing:hover {
    background: #ffffff;
}
 .spacing {
     transform: rotateX(20deg);
     margin: 10px;
     
}

 .projectImg {
  width: auto;
  height: fit-content;
  border: 2px solid black;
  box-shadow: -3px -1px 9px 1px #050505;
}
#projects{
  height: 100vh;
}
.row{
  justify-content: center;
}
.githubStyle{
  text-decoration: underline;
}
@media screen and (max-width: 960px) {
  .row{
    position: relative;
    /* right: -3%; */
    justify-content: center;
  }
}