$phone:426px;
$tablet:800px;
$desktop:1025px;
#groupStyle{
    height: 100vh;
    
}
.groupBack{
    background-image: url(../../assets/cover/pexels-pixabay-2150.jpg);
    background-size: cover;
    height: 147vh;
@media (max-width:$desktop) {
    height: 220vh;
}
    @media (max-width:$tablet) {
        height: 199vh;
    }
    @media (max-width:$phone) {
        height: 300vh;
    }
}
.challengeBack{
    background-image: url(../../assets/cover/pexels-pixabay-2150.jpg);
    background-size: cover;
    height: 100vh;
    @media (max-width:$phone) {
        height: 200vh;
    }
   
}
.row{
    justify-content: center;
}
.challengePlace{
    top: 55px;
    position: relative;
    text-align: -webkit-center;
    display: grid;
    grid-template-columns: 301px 321px;
    margin: auto;
    /* grid-gap: 183px; */
    place-content: center;
    @media (max-width:$phone) {
        grid: none;
    }
}
.groupPlace{
    margin: auto;
    position: relative;
    top: 100px;
    text-align: -webkit-center;
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 301px 321px;
    @media (max-width:$phone) {
        grid: none;
    }
}
.group-box{
    width: 80%;
    padding-top: 6px;
    height: 15vh;
    text-align: center;
    position: relative;
    top: 88px;
    object-position: center;
    margin: auto;
    color: var(--text-color);
    box-shadow: var(--text-color) 2px;
}
.challengeFooter{
    margin-top: 219px;
    margin-bottom: -50px;
}
.groupFooter{
    margin-top: 219px;
    margin-bottom: -50px;
}
@media(min-height:390px){
    #groupStyle{
        margin-top: 379vh;
    }
}
@media (max-width: 764px) {
    #groupStyle{
        height: 300vh;
    }
}