$phone: 200px;
$newPhone:450px;
$tablet: 700px;
$newTab:800px;
$deskTop:1020px;
.landingStyle{
    background-image: url(../../assets/cover/pexels-pixabay-2150.jpg);
    width: 100vw;
    height: 100vh;
    @media (max-width:$tablet) {
        height: 125vh;
    }
     @media (max-width:$newPhone) {
        height: 100vh;
    }
}
.astro{
    position: absolute;
    top: 236px;
    left: 67vw;
    width: 255px;
    animation-name: astroKey;
    animation-duration: 2s;
    @media (max-width:$newTab) {
        top: 200px;
    left: 67vw;
    width: 217px;
    }
    @media (max-width:$newPhone) {
    //     top: 466px;
    // left: 37vw;
    // width: 217px;
    // animation: none;
    display: none;
    }
}
@keyframes astroKey {
    from{
        left: -400px;
    }
    to{
        left: 67vw;
    }
  
}
.title{
    background-color: black;
    width: 58%;
    height: 136px;
    text-align: center;
    font-family: 'Bellefair';
    top: 392px;
    position: relative;
    opacity: 0.9;
    color: white;
    padding-top: 12px;
    margin: auto;
    border: 2px #f3eded solid;
    /* font-family: 'Yuji Hentaigana Akari', cursive; */
    @media (min-width:$phone) {
        position: relative;
        top: 293px;
        height: 129px;
        left: 0px;
        width: 95%;
        padding-top: 22px;
    }
    @media (min-width:$tablet) {
        position: relative;
        top: 300px;
    height: 134px;
    width: 400px;
    padding-top: 22px;
    left: 0px;
    }
    @media (min-width:$deskTop) {
        left: 0px;
        width: 590px;
    padding-top: 12px;
    }
}
.imageClass{
    width: 43%;
    margin-left: 37%;
}
 @keyframes profile {
    from {margin-left: 400%;}
    to {margin-right: -500px;}
}

@media(min-width: 200px){
   
    container{
        top: 33%;
    position: absolute;
    }
   
    .imageClass{
        width: 60%;
        position: relative;
        top: 144px;
    }
}
@media(min-width: 1000px){
container{
    top: 15%;
}
.imageClass{
    width: 43%;
}
}