$tablet: 821px;
$phone: 426px;
$smphone: 321px;
.middle{
    background-image: url(../../assets/cover/pexels-pixabay-2150.jpg);
    background-size: cover;
}
.scrollcontainer{
    width: 100vh;
    height: 100vh;
}
.resFooter{
    position: relative;
    margin-top: 164px;
}
.resBack{
    background-image: url(../../assets/cover/pexels-pixabay-2150.jpg);
    height: 922px;
    width: 100%;
}
.homeFooter{
    margin-top: 956px;
    position: relative;
    @media (max-width:$tablet) {
        margin-top: 1600px;
    }
    @media (max-width:$phone) {
        margin-top: 3005px;
    }
}
