$tablet: 821px;
$phone: 426px;
$smphone: 321px;
.home{
    height: 70vh;
    // margin-top: 155vh;
    position: relative;
   
}
.scrollcontainer{
    width: 100vh;
    height: 100vh;
}
.homeFooter{
    margin-top: 956px;
    position: relative;
    @media (max-width:$tablet) {
        margin-top: 1600px;
    }
    @media (max-width:$phone) {
        margin-top: 3005px;
    }
}
