.home{
    height: 70vh;
    margin-top: 155vh;
    position: relative;
}
.scrollcontainer{
    width: 100vh;
    height: 100vh;
}

@media(min-width:320px){
    .middle{
    height: 500vh;
    }
}
@media(min-width:360px){
    .middle{
        height: 200vh;
    }
}
@media(min-width:375px){
    .middle{
        height: 260vh;
    }
}
@media(min-height:390px){
    .home{
        margin-top: 235vh;
    }
}
@media(min-width:390px){
    .middle{
        height: 121vh;
        
    }
}
@media(min-width:425px){
    .middle{
        height: 260vh;
    }
}
@media(min-width:768px){
    .middle{
        height: 0vh;
    }
}
@media(min-width:1024px){
    .middle{
        height: 120vh;
    }
    .home{
        margin-top: 166vh;
    }
}
@media(min-width:1440px){
    .middle{
        height: 0vh;
    }
}