.home{
    height: 70vh;
    margin-top: 155vh;
    position: relative;
}
.scrollcontainer{
    width: 100vh;
    height: 100vh;
}

@media(min-width:320px){
    .middle{
    height: 500vh;
    }
}
@media(min-width:360px){
    .middle{
        height: 200vh;
    }
}
/* @media(min-height:360px){
    .middle{
        height: 1020vh;
    }
} */
@media(min-width:375px){
    .middle{
        height: 260vh;
    }
}


@media(min-height:390px){
    .home{
        margin-top: 235vh;
    }
}
@media(min-width:390px){
    .middle{
        height: 121vh;
        
    }
}
@media(min-width:425px){
    .middle{
        height: 260vh;
    }
}
@media(min-width:768px){
    .middle{
        height: 0vh;
    }
}
@media(min-width:1024px){
    .middle{
        height: 120vh;
    }
    .home{
        margin-top: 166vh;
    }
}
@media(min-width:1440px){
    .middle{
        height: 0vh;
    }
}
/* @media (max-width: 764px) {
    .home{
    height: 200vh;
    margin-top: 400vh;
    }
    .top{
    height: 200vh;
    width: 90%;
    }
    .navBar{
        width: 9px;
    }
}

@media (max-width: 300px) {
   .middle{
       height: 100vh;
   }
   .home{
       top: 100px;
       position: relative;
   }
}
@media (max-width: 1024px) {
    .home{
        top: 500px;
      
    }
    .middle{
        top: 200px;
        position: relative;

    }
   
}
@media (max-height: 396px) {
    .home{
        margin-top: 500vh;
        margin-bottom: 300vh;

    }

}
@media (max-height: 366px) {
    .home{
        margin-top: 865vh;
        margin-bottom: 300vh;

    }

}
@media (min-width: 1400px) {
    .home{
        margin-top: 100vh;

    }

} */