$phone: 426px;
$tablet: 821px;
:root{
    --text-color:white;
    --black-color: black;
}
.testPic{
    background-image: url(./assets/cover/picBackGround.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    @media (max-width:$phone) {
        width: 123vw;
    }
}
.box {
    width: 80%;
    text-align: center;
    object-position: center;
    margin: auto;
    color: var(--text-color);
    box-shadow: var(--text-color) 2px;
}

.center {
    width: 70%;
}
.spacing {
    padding: 14px;
    
    display: flex;
    border: 2px solid var(--black-color);
    box-shadow: -3px -1px 9px 1px var(--black-color);
    text-align: center;
}
a {
    text-shadow: 1px 1px 1px var(--black-color);
}

a,
a:hover {
    color: var(--text-color);
}

ul {
    list-style-type: none;
    color: yellow;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrolled {
    width: 252px;
    height: 300px;
    overflow-y: scroll;
}

.group-back {
    background-image: url(./assets/textback/background.png);
    align-items: center;
    justify-content: center;
}

.buttons button {
    color: var(--text-color);
    background-color: var(--black-color);
}



@media (max-width: 575.98px) {
    .spacing{
        text-align: center;
    object-position: center;
    position: relative;
    }
}

@media (max-width: 992px) {
    
    .spacing{
        text-align: center;
        object-position: center;
        /* margin: auto; */
        position: relative;
    }
   
}
