.box{
    /* background-image:url(./assets/textback/mainbackgournd.jpg) ; */
    width: 80%;
    text-align: center;
    object-position: center;
    margin: auto;
    color:#c6ecff;
    box-shadow: #c6ecff 2px;
    
}
body {
    background-image:url(./assets/projects/nutronStar.png);
    background-repeat: no-repeat;
            background-attachment: fixed;
}
.center{
    /* text-align: center; */
    /* object-position:center; */
    /* margin: auto; */
    width: 50%;
}
.stat {
    position:fixed;
    color: black;
    float: left;
}
.projectImg {
    width: auto;
    height: fit-content;
}
.spacing {
    padding: 14px;
    /* width: auto; */
    /* padding-block: 1px; */
    margin: 16px;
    /* margin-right: -3px; */
    /* height: 100%; */
    border: 2px solid black;
    box-shadow: -7px -1px 11px 10px #c6ecff;
    /* text-align: center;
    object-position: center; */
}