.box {
    /* background-image:url(./assets/textback/mainbackgournd.jpg) ; */
    width: 80%;
    text-align: center;
    object-position: center;
    margin: auto;
    color: #c6ecff;
    box-shadow: #c6ecff 2px;

}

/* body {
    background-image: url(./assets/projects/newnutron.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
} */

.center {
    /* text-align: center; */
    /* object-position:center; */
    /* margin: auto; */
    width: 50%;
}

.stat {
    position: fixed;
    color: black;
    float: left;
}

.projectImg {
    width: auto;
    height: fit-content;
}

.spacing {
    padding: 14px;
    /* width: auto; */
    /* padding-block: 1px; */
    margin: 16px;
    /* margin-right: -3px; */
    /* height: 100%; */
    border: 2px solid black;
    box-shadow: -7px -1px 11px 10px #c6ecff;

}

.footer {
    position: absolute;
    margin-top: 15%;
    left: 0;
    width: 100%;
    background-color: rgb(8, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: -7px -1px 11px 10px #c6ecff;
    display: flex;
    /* overflow-x:visible; */
}

a {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    text-decoration: none;

}

a,
a:hover {
    text-decoration: none !important;
    /* color: inherit; */
    color: white;
}

ul {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrolled {
    width: 252px;
    height: 250px;
    overflow-y: scroll;
}

#about {
    padding-top: 70px;
    color: white;
    border: 2px solid rgb(126, 98, 98);
    background-image: url(./assets/textback/background.png);
}

.group-back {
    background-image: url(./assets/textback/background.png);
}

/* .profile-pic{
    width: 50%;
} */
.buttons button {
    color: rgb(255, 254, 254);
    background-color: black;
}

.wraped{
    flex-direction: row;
    max-width: fit-content;
}
.displaying{
    /* object-position: center; */
    /* text-align: center; */
    position: relative;
    /* margin-left: 100px; */
    /* display: flex; */
    /* right: 100px; */
    margin: auto;
    align-items: center;
    margin: auto;
    object-position: center;
}

/* @media screen and (min-width: 375px) {
    .profile-pic {
      width: 10px;
    }
  } */
 .profile-pic{
     width: 40%;
 }
 @media screen and (min-width: 360px){
     .rowing{
         position: relative;
         right: 15vh;
     }
 }
 @media screen and (min-width: 374px) {
    .spacing{
        /* position: relative; */
        /* margin-right: 100px; */
        /* right: 0px; */
    }
    /* .displaying{
        margin-left: 10px;
        position: relative;
        right: 10vh;
        object-position: center;
        text-align: center;
        align-items: center;
        
    } */
 }
 @media screen and (max-width: 393px){
    /* work on footer poping */
 }
 @media screen and (max-width: 540px) {
    .displaying{
        position: relative;
        left: 0vh;

    }
 }
@media (max-width: 575.98px) {
    .wraped {
        font-size: 20px;
        max-width:max-content;
        width: 320px;
    }
    /* .cardstyle{
        margin-left: 100%;
    } */

    .profile-pic {
        position: relative;
        /* left: 70px; */
        width: 40vh;

        max-width: max-content;
    }
    .footer{
        /* display: flex; */
        /* overflow:visible; */
    }
    /* .cardstyle{
        position: relative;
        left: 100px;
        
    } */
    .spacing{
        text-align: center;
    object-position: center;
    /* margin: auto; */
    position: relative;
    right: 30%;
    /* width: auto; */
        
    }
}


@media (max-width: 992px) {
    .cardstyle{
        margin-left: 39%;
    }
    /* .profile-pic{
        width: 100%;
    } */
      /* .cardstyle{
        position: relative;
        left: 100px;
        object-position: center;
        margin: 100px ;
    } */
    .spacing{
        text-align: center;
        object-position: center;
        margin: auto;
        
        position: relative;
        /* right: 10%; */
        /* width: 100vh; */
    }
    /* .displaying{
        object-position: center;
        text-align: center;
        align-items: center;
        margin-left: 100vh;
    } */
}
@media (max-width: 1200px) {
    .footer{
        position: absolute;
    margin-top: 65%;
    display: flex;
    }
    /* .spacing{
        padding: px;
    } */
    .wraped{
        font-size: 20px;
    }
    .cardstyle{
        /* position: relative; */
        /* left: 100px; */
        object-position: center;
        margin: 150px ;
    }
    .displaying{
        display: flex;
        flex-wrap: wrap;
        
    }
}
