:root{
    --text-color:white;
    
}
.box {
    width: 80%;
    text-align: center;
    object-position: center;
    margin: auto;
    color: #c6ecff;
    box-shadow: #c6ecff 2px;
}

.center {
    width: 70%;
}




.spacing {
    padding: 14px;
    
    display: flex;
    border: 2px solid black;
    box-shadow: -3px -1px 9px 1px #050505;
    text-align: center;
}





a {
    text-shadow: 1px 1px 1px black;
}

a,
a:hover {
    color: var(--text-color);
}

ul {
    list-style-type: none;
    color: yellow;
}




  
  


::-webkit-scrollbar {
    width: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrolled {
    width: 252px;
    height: 300px;
    overflow-y: scroll;
}



.group-back {
    background-image: url(./assets/textback/background.png);
    align-items: center;
    justify-content: center;
}

.buttons button {
    color: var(--text-color);
    background-color: black;
}



@media (max-width: 575.98px) {
  
   
    .spacing{
        text-align: center;
    object-position: center;
    position: relative;
    }
    /* .footer{
       
        margin-top: 100px;
    } */
}

@media (max-width: 992px) {
    
    .spacing{
        text-align: center;
        object-position: center;
        /* margin: auto; */
        position: relative;
    }
   
}
